<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vaccine.name %>
</p>

<p>
  <b>Animal:</b>
  <%= @vaccine.animal_id %>
</p>

<p>
  <b>Duration:</b>
  <%= @vaccine.duration %>
</p>


<%= link_to 'Edit', edit_vaccine_path(@vaccine) %> |
<%= link_to 'Back', vaccines_path %>
